{% block devis %}{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('./assets/css/register.css') }}">

	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			Vous etes connecté
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	<div class="content">
		<div class="container">
			<div class="form signup">
				<h2>Se Connecter</h2>
				<form method="post">
					<div class="inputBox">
						<input type="email" value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
						<i class="fa-regular fa-envelope"></i>
						<span>adresse email</span>
					</div>

					<div class="inputBox">
						<input type="password" name="password" autocomplete="current-password" required>
						<i class="fa-solid fa-lock"></i>
						<span>mot de passe</span>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="inputBox">
						<input type="submit" value="Connexion">
					</div>
					<p>Vous n'êtes pas inscrit?
						<a href="{{ path('register_user') }}" class="create">Créez un compte</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</form>{% endblock %}
