{% extends 'base.html.twig' %}

{% block title %}Ticket index
{% endblock %}

{% block body %}
	<section class="userTicket">
		<h1>Vos Tickets</h1>
  <div class="button">
			<a href="{{ path('employe') }}">Retour au tableau de bord</a>
		</div>
		<div class="tickets">
			{% for ticket in tickets %}
				<div class="ticket">
					<h3>{{ ticket.titre }}</h3>
					<p>{{ ticket.description }}</p>

					<div class="button">
						<a href="{{ path('showTicketEmploye', {'id': ticket.id}) }}">Afficher</a>
					</div>

					{# 
					                   <div class="button">
					                       <a href="{{ path('editTicketEntreprise', {'id': ticket.id}) }}">Editer</a>
					                   </div> 
					                   #}
				</div>
			{% else %}
				<p class="emptyTicket">Vous n'avez aucun ticket en cours.</p>
			{% endfor %}
		</div>

		<div class="button">
			<a href="{{ path('newTicketEmploye') }}">Ajouter un ticket</a>
		</div>
      
	</section>
{% endblock %}
