{% extends 'base.html.twig' %}

{% block title %}Ticket index
{% endblock %}

{% block body %}
	<h1>Vos Tickets</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Titre</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket in tickets %}
				<tr>
					<td>{{ ticket.id }}</td>
					<td>{{ ticket.email }}</td>
					<td>{{ ticket.titre }}</td>
					<td>{{ ticket.description }}</td>
					<td>
						<a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
						<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_ticket_new') }}">Create new</a>
{% endblock %}
