{% block devis %}{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('./assets/css/register.css') }}">
	<div class="content">
		<div class="container">
			<div class="form signup">
				<h2>S'inscrire</h2>
				{{ form_start(userForm) }}
				<div class="inputBox">
					{{ form_widget(userForm.nom, {'required': true}) }}
					<i class="fa-regular fa-user"></i>
					<span>nom</span>
				</div>
				<div class="inputBox">
					{{ form_widget(userForm.prenom, {'required': true}) }}
					<i class="fa-regular fa-user"></i>
					<span>prenom</span>
				</div>
				<div class="inputBox">
					{{ form_widget(userForm.email, {'required': true}) }}
					<i class="fa-regular fa-envelope"></i>
					<span>adresse email</span>
				</div>

				<div class="inputBox">
					{{ form_widget(userForm.plainPassword, {'required': true}) }}
					<i class="fa-solid fa-lock"></i>
					<span>créer mot de passe</span>
				</div>

				<div class="inputBox">
					{{ form_widget(userForm.confirmPassword, {'required': true}) }}
					<i class="fa-solid fa-lock"></i>
					<span>confirmer mot de passe</span>
				</div>
				<div class="agree">
					{{ form_widget(userForm.agreeTerms) }}
					{{ form_label(userForm.agreeTerms, 'Accepter les termes et conditions') }}
				</div>

				<div class="inputBox">
					<input type="submit" value="VALIDER">

				</div>

				{{ form_end(userForm) }}

			</form>
			<p>Déjà membre?
				<a href="{{ path('login_user') }}" class="login">Se Connecter</a>

			</p>
		</div>


	</div>
</div>{% endblock %}
